a:hover {
  cursor: pointer;
  color: gray;
}
body {
  background-color: whitesmoke;
}

.head {
  text-decoration: none;
  color: black;
  padding: 15px;
}

.title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-family: 'Playpen Sans', cursive;
  margin-top: 15px;
}
.logo {
  text-decoration: none;
  text-shadow: 2px 2px rgb(128, 128, 128);
  color: rgb(135, 172, 235);
}
.product {
  margin-top: 20px;

}
.card {
  width: 205px;
}
.card img {
  height: 200px;
  width: 203px;
}
.card-text {
  text-align: center;
}
.card-body {
  background-color: whitesmoke;
}
.btn {
  align-items: center;
  margin-left: 30px;

}
.smartphone {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-family: 'Playpen Sans', cursive;
  margin-top: 5px;
  text-shadow: 2px 2px rgb(135, 206, 235);
  color: gray;
}
.google img {
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
}
.contact,h2 {
  margin-top: 30px;
  color: gray;
}
.commend h2 {
  margin-left: 25%;
 
}
